% rebase('osnova.html', title='Izpolnitev', uporabnisko_ime=True)
    <body>
        <h1 class="text-center" style="margin-top: 70px;">Dobrodošel Admin!</h1>
        <div class="d-flex mt-5 justify-content-center align-items-center">
                <div class="row g-3 justify-content-center">
                    <form action="/izpolnitev/" method="POST">
                    <div class="row mb-4">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Vpiši URL naslov:</label>
                        <div class="col-sm-8 d-flex align-items-center">
                            <input type="text" class="form-control me-2" id="colFormLabel" placeholder="URL naslov" name="url" value="{{url}}">
                            <button type="submit" class="btn btn-outline-success">Dodaj</button>
                        </div>
                    </div>
                    </form>
            
                </div>
        </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
