<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Statistika F1</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Statistika F1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Domov</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Več
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/voznik/">Vozniki</a>
                  <a class="dropdown-item" href="/proga/">Proge</a>
                  <a class="dropdown-item" href="/dirka/">Dirke</a>
                  <a class="dropdown-item" href="/ekipa/">Ekipe</a>
                </div>
              </li>
            </ul>
            
              <form class="d-flex" action="/prijava/" method="GET">
                <button class="btn btn-outline-success">Prijava</button>            
              </form>
          </div>
        </div>
      </nav>
  </header>
    <body>
        <h1 class="text-center" style="margin-top: 70px;">Dobrodošli v Statistiki Formule 1!</h1>

        <div class="d-flex mt-5 justify-content-center align-items-center">
                <div class="row g-3 justify-content-center">
                    <div class="col-sm">
                        <a href="/voznik/">
                          <div class="text-center">
                            <h3>Vozniki</h3>
                            <img src="https://www.tutorialspoint.com/bootstrap/images/64.jpg" class="rounded-circle" alt="Vozniki" width="100" height="100">
                          </div>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="/proga/">
                          <div class="text-center">
                            <h3>Proge</h3>
                            <img src="/static/proga.jpeg" class="rounded-circle" alt="Proge" width="100" height="100">
                          </div>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="/dirka/">
                          <div class="text-center">
                            <h3>Dirke</h3>
                            <img src="/static/dirka.png" class="rounded-circle" alt="Dirke" width="100" height="100">
                          </div>
                        </a>
                    </div>
                    <div class="col-sm">
                      <a href="/ekipa/">
                        <div class="text-center">
                            <h3>Ekipe</h3>
                            <img src="/static/ekipa.png" class="rounded-circle" alt="Ekipe" width="100" height="100">
                        </div>
                      </a>
                    </div>
                </div>
        </div>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>